* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
.side{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
 color: white;
}
  body {
    font-family: 'Arial', sans-serif;
  }

  .insta-font{
    font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  }


  .instagramContainer{

  }

  .fa-regular fa-heart{
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
  }

  .fa-brands fa-facebook-messenger{

  }

  .carousel-images{

    align-items: flex-start;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    img{
  border-radius: 50%;
  background-color: white;
  }   
  }

  .lower_header{
    align-items: flex-start;
    display: flex; 
    flex-direction: row;
    img{
      border-radius: 50%;
      }    
                         
  }
  .center-stage{

  }
  
  .footer{
color: white;
  }
  
  .footer-icons{
    align-items: flex-start;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    gap: 300px;
    
    }

  .jump{
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    color: white;
  }      

h3{
  color: white;
  align-self: flex-start;
}

body{
  background-color: black;
}

.protest-riot-regular {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

